<nav class="navbar navbar-default fixed-top bg-dark">
  <div class="container">
    <ul class="nav nav-pills d-flex justify-content-center">
      <li class="btn">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="btn">
        <a class="nav-link" routerLink="/resume" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Resume</a>
      </li>
      <li class="btn">
        <a class="nav-link" routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Culture Fit</a>
      </li>
      <li class="btn">
        <a class="nav-link" routerLink="/portfolio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Portfolio</a>
      </li>
      <li class="btn">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!-- nav nav-pills -->
<!-- nav-item -->