

<div class="head">

    <button routerLink="" class="btn-primary btn-xl text-uppercase js-scroll-trigger">
        Home
    </button>
    <button routerLink="/resume" class="btn-primary btn-xl text-uppercase js-scroll-trigger">
        Resume
    </button>
    <button routerLink="/blog" class="btn-primary btn-xl text-uppercase js-scroll-trigger">
        Blog
    </button>
    <button routerLink="/portfolio" class="btn-primary btn-xl text-uppercase js-scroll-trigger">
        Portfolio
    </button>
    <button routerLink="/contact" class="btn-primary btn-xl text-uppercase js-scroll-trigger">
        Contact
    </button>

</div>

