<div class="body">
    <img src="assets/img/profilepic1.jpeg">
    <br>
    <h3>Joshua D. Ontko</h3> <br>
    <h4>Phone: 918-271-0071</h4> <br>
    <h4>email: me@joshontko.com</h4> <br>
    <h4>Tulsa, OK 74133</h4> <br>
    <h4>www.joshontko.com</h4>
    <br>

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/joshontko/meeting-01', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: true });</script>
<!-- Calendly badge widget end -->

</div>

