
<div>
    <div class="body">
        <div class="d-flex justify-content-center">
            <img src="/assets/img/ProfilePic.jpg" class="rounded-circle" alt="Photo of Me">
        </div>
        <div class="row spacer">
            <div class="col-6">
                <h4>Phone: 918-271-0071</h4> 
                <h4>Email: me@joshontko.com</h4> 
                <h4>Tulsa, OK 74133</h4> 
                <h4>www.joshontko.com</h4>
                <h4>www.linkedin/in/joshontko</h4>
            </div>
            
            <div class="col-6">
                <img src="/assets/img/QRContactCode-200px.jpg" alt="QR Contact Info">
            </div>
        </div>
    </div>
</div>



