
    <div class="container">
        <div class="box">
            <h4 class="d-flex justify-content-center">Completed Projects</h4>
            <hr>
        <h5 class="d-flex justify-content-center">Project Name: Job Listings</h5>
        <p>This is a small Python app listing tasks that are assigned to specific locations. 
            HTML, CSS were used for styling and the Python was utilized for the readability. MySQL was chosen as it allows for better control of relational data. 
            </p>
        <a class="d-flex justify-content-center" href="https://github.com/jontko/CD_Python_JobsList">github</a>
        <h6 class="d-flex justify-content-center">Technology Used:</h6>
        <div class="row d-flex justify-content-center">
            <div class="row col-4">
                <p>HTML</p> <br>
            </div>

            <div class="row col-4">
                <p>CSS</p>
            </div>

            <div class="row col-4">
                <p>JavaScript</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="row col-4">
                <p>Python</p> <br>
            </div>

            <div class="row col-4">
                <p>MySQL</p>
            </div>

            <div class="row col-4">
                <p>Django</p>
            </div>
        </div>
        <hr>

        <h5 class="d-flex justify-content-center">Project Name: Hobby Hub</h5>
        <p>This app allows a user to create and update various hobbies.  HTML and CSS used for styling and C# was used as the primary language. C#, as a compiling language was utilized to show familiarity with this language</p>
        <a class="d-flex justify-content-center" href="https://github.com/jontko/CD_CSharp_HobbyHuyb">github</a>
        <h6 class="d-flex justify-content-center">Technology Used:</h6>
        <div class="row d-flex justify-content-center">
            <div class="row col-4">
                <p>HTML</p> <br>
            </div>

            <div class="row col-4">
                <p>CSS</p>
            </div>

            <div class="row col-4">
                <p>JavaScript</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="row col-4">
                <p>C#</p> <br>
            </div>

            <div class="row col-4">
                <p>MySQL</p>
            </div>

            <div class="row col-4">
                <p>Entity Framework</p>
            </div>
        </div>
        <hr>

        <h5 class="d-flex justify-content-center">Project Name: Mongoose Dash</h5>
        <p>This is a biologically skewed site that allows users to create animals based on scientific nomenclature. It shows off class creation and object-oriented programming. Mongo DB is used as a way of easily adding data into a DB that doesn’t require much relational connection between data sets. </p>
        <a class="d-flex justify-content-center" href="https://github.com/jontko/CD_MEAN_MongooseDashboard ">github</a>
        <h6 class="d-flex justify-content-center">Technology Used:</h6>
        <div class="row d-flex justify-content-center">
            <div class="row col-4">
                <p>HTML</p> <br>
            </div>

            <div class="row col-4">
                <p>CSS</p>
            </div>

            <div class="row col-4">
                <p>JavaScript</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="row col-4">
                <p>Node</p> <br>
            </div>

            <div class="row col-4">
                <p>Express</p>
            </div>

            <div class="row col-4">
                <p>Angluar</p>
            </div>
            
            <div class="row col-4">
                <p>Mongo DB</p>
            </div>


        </div>
        <hr>
    </div>

