
<div class="box">
    <h4 class="d-flex justify-content-center">Completed Projects</h4>
    <hr>
<h5 class="d-flex justify-content-center">Project Name: Job Listings</h5>
<a class="d-flex justify-content-center" href="https://github.com/jontko/CD_Python_JobsList">github</a>
<h6 class="d-flex justify-content-center">Technology Used:</h6>
<div class="row d-flex justify-content-center">
    <div class="row col-4">
        <p>HTML</p> <br>
    </div>

    <div class="row col-4">
        <p>CSS</p>
    </div>

    <div class="row col-4">
        <p>Java Script</p>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="row col-4">
        <p>Python</p> <br>
    </div>

    <div class="row col-4">
        <p>MySQL</p>
    </div>

    <div class="row col-4">
        <p>Django</p>
    </div>
</div>
<hr>

<h5 class="d-flex justify-content-center">Project Name: Hobby Hub</h5>
<a class="d-flex justify-content-center" href="https://github.com/jontko/CD_CSharp_HobbyHuyb">github</a>
<h6 class="d-flex justify-content-center">Technology Used:</h6>
<div class="row d-flex justify-content-center">
    <div class="row col-4">
        <p>HTML</p> <br>
    </div>

    <div class="row col-4">
        <p>CSS</p>
    </div>

    <div class="row col-4">
        <p>Java Script</p>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="row col-4">
        <p>C#</p> <br>
    </div>

    <div class="row col-4">
        <p>MySQL</p>
    </div>

    <div class="row col-4">
        <p>Entity Framework</p>
    </div>
</div>
<hr>

<h5 class="d-flex justify-content-center">Project Name: Mongoose Dash</h5>
<a class="d-flex justify-content-center" href="https://github.com/jontko/CD_MEAN_MongooseDashboard ">github</a>
<h6 class="d-flex justify-content-center">Technology Used:</h6>
<div class="row d-flex justify-content-center">
    <div class="row col-4">
        <p>HTML</p> <br>
    </div>

    <div class="row col-4">
        <p>CSS</p>
    </div>

    <div class="row col-4">
        <p>Java Script</p>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="row col-4">
        <p>Node</p> <br>
    </div>

    <div class="row col-4">
        <p>Express</p>
    </div>

    <div class="row col-4">
        <p>Angluar</p>
    </div>
    
    <div class="row col-4">
        <p>Mongo DB</p>
    </div>


</div>
<hr>

<div class="box">
    Projects in Progress
</div>
