<div class="scrolly">
    <h3 class="centered">Resume</h3>
    <br>
    <h6 class="centered">For Your consideration</h6>

    <div class="section1">
        <p>This section contains the resume of Josh Ontko for you to utilize for pragmatic position placement. The first resume below is an abridged one page overview resume for your quick reference. More than merely providing my resume, I would like to give you an idea of what kind of employee I am.</p>
    </div>

    <div class="section2"></div>

    <div class="section3">
        <h4>Motivation</h4>
        <br>
        <p>Motivation is an internal emotional driver of behavior. Many times management feel like they can motivate people, however this is incorrect. Managers can create an environment that stimulates core emotional drivers of employees in order that they can motivate themselves. (Dahlke, 2015) Knowing about motivation will allow me to better discuss what motivates me. First of all let me tell you what does not motivate me, money. What does motivate me? Systems and making systems work. Details motivate me. Having say in the design an implementation of projects. Autonomy motivates me. Time with my family motivates me.</p>
    </div>

    <div class="section2"></div>

    <div class="section4">
        <h4>Integrity</h4>
        <br>
        <p>I am a rule follower. More than just a rule follower I believe in the uttermost honesty in all business dealings. For example, when asked for funnel forecasts I will only give an accurate funnel based on documented commitments and conversations with clients. I believe it is immoral to “fluff” numbers to make myself look better. If there is something I have done that could have made a negative experience for a coworker or the client I have a moral imperative to claim responsibility for the circumstance. Also, I will always be completely honest with a customer or co-workers, even if it costs me money.</p>
    </div>

    <div class="section2"></div>

    <div class="section4">
        <h4>Experience</h4>
        <br>
        <p>Eclectic, diverse, seasoned are adjectives often used to describe my work history. I have 25 years working in the wireless industry. I have been a sales manager, product manager and corporate trainer. However, the majority of my time has been in sales. I have multiple years in both retail and business sales. In all of my sales history, my success has come via my in depth knowledge on a wide variety of technical solutions. My track record comes from having an ability to digest large amounts of data, understand the material and be able to communicate it in a way easy for people and businesses to understand. Along with my wireless experience I have also been an EMT in a Urology Clinic, an entrepreneur, a theology minister, couples counselor in a church and a musician.</p>
    <br>
    </div>
    
    <div class="section2"></div>

    <div class="section4">
        <h4>Education</h4>
        <br>
        <p>If education were free, I would make a career of it. I spent 6 years studying Pre-Med Biology and Theology; both subjects I enjoyed immensely. However I got the opportunity to dive into the workforce to provide for my wife and our young daughter. Later I returned to school and completed an associates of Liberal Arts and then an associates of Chemistry. Later I went back to school and received a bachelors degree in Business, specifically in Professional Retail Sales and Management. In 2019 I completed the Coding Dojo programming bootcamp that earned me a certificate of completions for basic web design and 3 additional full stacks. , Currently considering completing my  masters in Industrial and Organizational Psychology. On the side I have studied Spanish, Russian and Hebrew.</p>
    </div>
    <hr>
    <div>
        <p>Click below to download a copy of my <b>resume</b>. </p>
        <a class="row d-flex justify-content-center" href="/assets/doc/Resume_OntkoJoshua_2020.docx" download>
            <img src="/assets/img/Resume.jpeg" alt="Resume" width="250" height="250">
          </a>
          <br>
          <br>
          <p><b>Note:</b> The download attribute is not supported in Edge version 12, IE, Safari 10 (and earlier), or Opera version 12 (and earlier).</p>
    </div>

    <div class="section4">
        <h4>Awards</h4>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-2">
                <img src="/assets/img/Award-NewLogo.jpg" alt="New logo" height="100" >
            </div>
            <div class="col-2">
                <img src="/assets/img/Award-CoinOfExcelence.jpeg" alt="Coin of Excelence" height="100">
            </div>
            <div class="col-2">
                <img src="/assets/img/Award-MedicalSales.jpg" alt="New logo" height="100">
            </div>
            <div class="col-2">
                <img src="/assets/img/Award-TopB2B2015.jpeg" alt="Top B2B Rep 2015" height="100">
            </div>
        </div>
    </div>

    <div class="section4">
        <h4 class="row d-flex justify-content-center">Certifications</h4>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-2">
                <img src="/assets/img/Certification-EMTB2010.jpeg" alt="Certification-EMTB2010" height="100" >
            </div>
            <div class="col-2">
                <img src="/assets/img/Diploma-TCCLibArt2008.jpeg" alt="Top B2B Rep 2015" height="100">
            </div>
            <div class="col-2">
                <img src="/assets/img/Diploma-TCCChem2010.jpeg" alt="AssOfChem" height="100">
            </div>
            <div class="col-2">
                <img src="/assets/img/Diploma-Bellevue2013.jpeg" alt="BachOfBusi" height="100">
            </div>
            <div class="col-2">
                <img src="/assets/img/Certification-CodingDojo2019.jpg" alt="CodingCertification" height="100">
            </div>
        </div>
    </div>
</div>
