<h3>Culture Fit</h3> <br>
<div class="container-fluid scrolly">
    <H3>Does My Personality Match Your Corporate Culture?</H3> <br>
    <p>We hear a lot lately about "culture fit". And rightly so. </p>
    <p>Every organization has a culture. It is often a combination of the people in the company matched with official corporate policy. </p>
    <p>More than the company, every team within the company tends to have their own culture as well. When it all boils down, the personality and views of the individual team members combines to create the culture. </p>
    <p>For these reasons, it is vital to consider the personality of a candidate when selecting someone to include in a team.</p>
    <br>
    <h3>Does My Personality Match The Job?</h3>
    <p>According to research stemming from psychology form those such as Carl Jung and  William Moulton Marston, certain personality types will work optimally with certain job functions.  </p>
    <p>Therefore, we can evaluate who will match job functions and culture type by knowing a persons core personality.  </p>
    <p>So if you know the optimal personality type for your culture and job function, you can have a more successfully hire by knowing what personality you are looking for, even before you see the applicants skills, experience or education. </p>
    <p>I theorize, that there are 4 things you need to know about a person to calculate if they will be an optimal culture fit. I call this the "PPRR" for Personality, Politics, Religion and Relationship-identity.  </p>
    <br>
    <h3>So here is my PPRR.</h3>
    <br>
    <h4>Personality</h4>
    <p>Here are a selection of personality metrics companies use to evaluate personalities. </p>
    <ul style="list-style-type:circle;">
        <li>MBTI: INTJ</li>
        <li>DiSC: Cs</li>
        <li>Enneagram: 5</li>
        <li>Love Language: Physical Touch</li>
        <li>Moral Compass (for the D&D players out there): Lawful Good</li>
      </ul>
    <br>
    <h4>Politics</h4>
    <ul style="list-style-type:circle;">
        <li>Democrat</li>
        <li>Volunteered for Bernie Sanders Campaign </li>
        <li>Actively involved in social justice initiatives around the city.</li>
    </ul>
    <br>
    <h4>Religion</h4>
    <ul style="list-style-type:circle;">
        <li>Jewish</li>
        <li>I take off all significant Jewish holy days, such as Shabbat and the High Holydays </li>
        <li>Eat as close to Kosher as any given situation allows. </li>
        <li>Active member of a local synagogue. </li>
    </ul>
    <br>
    <h4>Relationship-identity</h4>
    <ul style="list-style-type:circle;">
        <li>My belief is that who someone loves should not be based on their physical attributes but their soul.</li>
        <li>I have been married to my wife for over 25 years</li>
        <li>We have 4 children that are better than me at almost everything. </li>
        <li>I am ordained to marry people regardless of gender, race or number of spouses. </li>
    </ul>
    <br>
</div>