/* You can add global styles to this file, and also import other style files */
/* * {border: 2px red dashed} */

.container {
    width: 1000px;
    height: auto;
    padding: 0px;
    /* border: 2px red dashed; */
    border-radius: 10;
    margin: 0 auto;
    background-image: radial-gradient(#fbeddc, #ffffff);
    
}

.head {
    text-align: center;
    font-family: sans-serif;
    width: 990px;
    height: 28px;
    padding: 5px 0px 0px 0px;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
}

.body {
    height: 500px;
    width: 990px;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    margin: 10px 5px 10px 10px;
    border-radius: 10px;
    vertical-align: top;
    display:inline-block;
    text-align: center;
}

.rightside {
    height: 500px;
    width: 476px;
    padding: 0px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 10px 10px 5px;
    vertical-align: top;
    display:inline-block;
    text-align: center;
}

.scrollwindow {
    height: 420px;
    width: 990px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    overflow:scroll;

}

.foot {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 990px;
    height: 37px;
    padding:10px 0px 0px 0px;
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
}

.title {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    vertical-align: top;
    display: inline-block;  
}

h2 {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; 
    vertical-align: top;
    display: inline-block;     
}

h3 {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.72px;
    vertical-align: top;
    display: inline-block;  
}

h4 {
    width: auto;
    height: 20px;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 0px 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px;
    vertical-align: top;
    display: inline-block;  
}

h5 {
    width: 68px;
    height: 20px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.28px;
    vertical-align: top;
    display: inline-block; 
}

h6 {
    width: 200px;
    height: 20px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10.72px;
    vertical-align: top;
    display: inline-block; 
}

p {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    display: inline-block; 
}

a {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:12.5px;
    vertical-align: top;
    display: inline-block;
}

a:hover {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:12.5px;
    background-color: slateblue;
    vertical-align: top;
    display: inline-block;
}

.centered {
    text-align: center;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: white;
    width: 55px;
    padding: 2px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 1px 2px 1px 2px;
    vertical-align: top;
    display: inline-block;
}  

.button:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 55px;
    padding: 2px;
    border: 1px white solid;
    border-radius: 5px;
    background-color: black;
    margin: 1px 2px 1px 2px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    display: inline-block;
} 

.reset{
    width: 200px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: 2px red solid;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
}

.box {
    height: 120px;
    width: 120px;
    padding: 0px;
    border: 5px black solid;
    margin: 20px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
}

.boxname{
    height: auto;
    width: auto;
    padding: 0px;
    border: 0px;
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
}

img{
    border-radius: 25%;
    border-color: black solid 2px;
    height:200px;
    width: auto;
    vertical-align: top;
    display: inline-block;
}

a :hover {
    color: red
}