<div class="scrolly">
    <div class="section1 box">
        <h4>Well, hello there!</h4><br>
        <p>Welcome to my personal informational page. Most likely, if you are viewing this page, you are considering adding me to your organizations team. There are a lot of questions an organization may have about an individual they are considering hiring, that can not be determined in a traditional resume. To the end of giving you a better understanding of who I am and how I will fit with your organization, I have compiled this site. And if you have come across this page, for reasons other than possibly employing me, I welcome you as well, and hope you enjoy the page.</p>
    </div>
    
    <div class="section2 box">
    </div>
    
    <div class="section3 box">
        <h4>Culture Fit</h4><br>
        <p>It is important for companies to find the best fit for each position in their organization. The best fit is not only someone who can carry out specific tasks, but someone who is a good fit in the organizations culture. Therefore, this site is designed, to enable you to gain the information about me that you might want when determining if I am the best fit.  Not only for the position you are looking to fill, but also will be an asset to the groups culture.</p>
    </div>

    <div class="section2 box">
    </div>

    <div class="section4 box">
        <h4>Basic Overview</h4><br>
        <p>Hello, I’m Josh Ontko; A husband, a father, a son, a neighbor, and problem solver. Over the course of my life I have been paid to sell things, train people, manage people and find solutions to problems. On the path of professional growth, I have received associates degrees in liberal arts and chemistry, a bachelors degree in business, specifically in professional retail sales and management. Also I have studied in such areas as axiom sales methods, agile project management and Salesforce administration. Currently, I am pursuing a Masters in Industrial and Organizational Psychology. In the ways of hobbies and relaxation, I enjoy art, music and Microsoft Excel. I love my family animals, and my Jewish life. Historically I have enjoyed playing guitar, the beach and gymnastics.</p>
    </div>
</div>

